<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sockets Example</title>
    <script>
      var shareStateOfAngles = JSON.parse('<%-JSON.stringify(shareStateOfAngles)%>');
    </script>
    <script
      type="text/javascript"
      src="https://cdn.socket.io/socket.io-1.4.5.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"
    ></script>
    <script type="text/javascript" src="boundary.js"></script>
    <script type="text/javascript" src="particle.js"></script>
    <script type="text/javascript" src="plinko.js"></script>
    <script type="text/javascript" src="staticPlinko.js"></script>
    <script type="text/javascript" src="sketch.js"></script>

    <style>
      body {
        padding: 0;
        margin: 0;
      }
      button:focus {
        outline:0;
      }
      .arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        border: 0;
        background: transparent;
      }
      .arrow-left {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWxpbmUgcG9pbnRzPSIxNCAxNSA5IDIwIDQgMTUiLz48cGF0aCBkPSJNMjAgNGgtN2E0IDQgMCAwIDAtNCA0djEyIi8+PC9zdmc+);
        background-position: center;
        background-size: 35px 35px;
        background-repeat: no-repeat;
      }
      .arrow-right {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWxpbmUgcG9pbnRzPSIxMCA5IDE1IDQgMjAgOSIvPjxwYXRoIGQ9Ik00IDIwaDdhNCA0IDAgMCAwIDQtNFY0Ii8+PC9zdmc+);
        background-position: center;
        background-size: 35px 35px;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body></body>
</html>
